@font-face {
    font-family: "iconfont";
    /* Project id 3547106 */
    src: url('iconfont.woff2?t=1658807110657') format('woff2'), url('iconfont.woff?t=1658807110657') format('woff'), url('iconfont.ttf?t=1658807110657') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
    content: "\e609";
}

.icon-dianzan2:before {
    content: "\e60a";
}

.icon-fenxiang:before {
    content: "\e60b";
}

.icon-pinglun:before {
    content: "\e60c";
}

.icon-dianzan:before {
    content: "\e60d";
}

.icon-shipin:before {
    content: "\e60e";
}

.icon-sousuo:before {
    content: "\e60f";
}

.icon-shanchu:before {
    content: "\e610";
}

.icon-yanzhengma:before {
    content: "\e611";
}

.icon-shouji:before {
    content: "\e612";
}

.icon-wode:before {
    content: "\e613";
}

.icon-lishi:before {
    content: "\e614";
}

.icon-wenda:before {
    content: "\e615";
}

.icon-shoucang:before {
    content: "\e616";
}

.icon-shouye:before {
    content: "\e617";
}

.icon-wuwangluo:before {
    content: "\e618";
}

.icon-youjiantou:before {
    content: "\e619";
}

.icon-yuedu:before {
    content: "\e61a";
}

.icon-guanbi:before {
    content: "\e61b";
}

.icon-zuojiantou:before {
    content: "\e61c";
}

.icon-zuopin:before {
    content: "\e61d";
}